<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Professores</title>
</head>
<body>
    <ul>
        {% for professor in professores %}
            <li>
                {{professor.nome}} - {{professor.email}}
            </li>
        {% endfor %}
    </ul>
</body>
</html>